body{
	background: violet;
	background: linear-gradient(to right, #cce3faa2, #7de0e0b9);
}

.container{
    border:1px;
    
}
.title{
    margin: 5px;
    padding: 5px;
    width:100%;
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow:  5px 5px 5px 5px rgba(194, 194, 198, 0.692);
}

.description{
    margin-top: 15px;
    padding: 10px;
    width:100%;
    border: 1px;
    color: blue;
    border-radius: 10px;
    box-shadow:  5px 5px 5px 5px rgb(172, 170, 170);
}
#btn{
    margin-top: 10px;
    width: 100px;
}

#output-box{
    margin-top: 20px; 
    padding-left: 40px;
    
}

.card{
    margin-bottom: 20px;  
    box-shadow: 10px 10px 10px rgb(250, 248, 248);
    background:#85d6d6
}

.card:hover{
    animation: forwards;
    margin-bottom: 20px;  
    box-shadow: 25px 25px 25px rgb(160, 174, 214);
}

.card-header{
    text-align: center;
}

.card-body{
    font-family: 'Courier New', Courier, monospace;
    
}
.pokemon-img{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 150px;
    height: 150px;
    background-color: #b3d8d860;
    object-fit: cover;
    border-radius: 50%;
    border: 0.5px solid rgba(55, 42, 230, 0.185);
    border-radius: 50%;
}